body {
    font-family: 'Poppins', Helvetica, sans-serif;
}

h1,
h2,
h3 {
    font-weight: 600 !important;
}

#kt_subheader {
    box-shadow: 0 0 8px 0 #212529;
}

.customCard {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2) !important;
    border-radius: 6px!important;
}

.modal .modal-content .modal-header .close {
    color: #000000 !important;
}

.modal-header {
    /* box-shadow: 1px 2px 10px #808080b3; */
    padding: 0.6rem;
    background: #00bcd4 !important;
}

.modal .modal-content .modal-header .close:before {
    font-size: 1.6rem;
}

.modal .modal-content .modal-header .modal-title {
    font-size: 1.1rem;
}

.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item .kt-wizard-v1__nav-body .kt-wizard-v1__nav-label {
    /* font-size: 1.3rem; */
    font-weight: 600;
}

@media (max-width: 1024px) {
    .kt-subheader--enabled .kt-content {
        padding-top: 10px !important;
    }
}

.modal .modal-content .modal-header .modal-title {
    padding-top: 0.5rem;
    color: white !important;
}

.modal-content {
    border: none;
}

.form-group label {
    font-size: 0.9rem;
    color: #373d43;
}

.form-group .form-text,
.text-muted {
    font-size: 0.7rem;
}

.form-control {
    font-size: 1rem;
}

.btn-brand,
.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>input:checked~span,
.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid>span {
    background: #00bcd4 !important;
    border-color: #00bcd4;
}

.kt-checkbox.kt-checkbox--brand>span,
.btn-brand:hover,
.btn-brand:focus,
.btn-brand.focus,
.btn-brand:not(:disabled):not(.disabled):active,
.kt-font-brand {
    border-color: #00bcd4 !important;
}

.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-icon,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-label,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"]:after,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="done"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-icon,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-icon,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="done"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-label,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"] .kt-wizard-v1__nav-body .kt-wizard-v1__nav-label,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="done"]:after,
.kt-wizard-v1 .kt-wizard-v1__nav .kt-wizard-v1__nav-items .kt-wizard-v1__nav-item[data-ktwizard-state="current"]:after,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__heading .kt-menu__link-icon,
.kt-aside-menu .kt-menu__nav>.kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover>.kt-menu__link .kt-menu__link-icon .kt-font-brand,
.kt-font-brand {
    color: #00bcd4 !important;
}

.modal-open {
    overflow: scroll;
}

input[type="search"] {
    border-color: #80808026;
}

input[type="search"]:focus {
    border-color: transparent;
}

.kt-widget__subtitle,
.text-dark,
.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    color: #373d43d9 !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before,
table.dataTable thead .sorting_desc_disabled:after {
    display: none;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 10px;
}

.custom-btn {
    background: white;
    line-height: 0.8;
}

.btn-round {
    border-radius: 20px;
}

.table {
    color: #606060;
}

.btn-small-text {
    font-size: 0.8rem;
}

.small-label {
    font-size: 0.9rem;
}

.daterangepicker {
    z-index: 1100 !important;
}

.text-dark {
    color: #000000 !important;
}

.btn-small {
    line-height: 0.8;
}

.btn-compact {
    line-height: 0.5 !important;
}


/* Input type number arrows hidden */


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.kt-ribbon__target {
    font-size: 0.80rem;
}

.bg-alice {
    background: #d1e9ff;
}

.bg-none {
    background: #ecedf2;
}

.btn.btn-pill {
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
}

.dataTables_wrapper .dataTable td {
    color: #212529;
}

.kt-aside .kt-aside-menu {
    margin: 0;
    background: url(../../images/sidebar_bg_white.jpg);
    background-size: 21rem 76rem;
}

.kt-ribbon--clip.kt-ribbon--right .kt-ribbon__target {
    font-size: 0.9rem;
    font-family: sans-serif;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form {
    width: 90% !important;
}

.kt-wizard-v4 .kt-wizard-v4__wrapper .kt-form .kt-wizard-v4__content {
    margin-bottom: 1rem !important;
}